

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* commonly uses styles */

.plus-font {
  font-family: "Plus Jakarta Sans", sans-serif;
  
}

/* start-navigation-section */

nav{
  display: flex;
  justify-content: space-between;
  margin:0px 30px;
  padding: 5px;
}

.hero-section{
  background-color: #FEEAE9;
display: flex;
align-items: center;
padding: 30px 35px;
margin:60px 40px;
border-radius: 20px;
}
.hero-text >h1{
  font-size: 60px;
  font-weight: bold;
  margin: 5px 0px;
}
.hero-text >p{
  color: gray;
}
.hero-text >h3{
  font-size: 30px;
  color: #FF136F;
  margin: 10px;
}
.hero-btn{
  background-image: linear-gradient( 180deg, #FF589B ,#FF136F);
  color: #fff;
  font-size: 23px;
  padding: 8px 20px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.hero-btn:hover{
  color:black;
  background:#FF136F ;
  opacity: 0.7;
  
}
/* start category-container */
.category-section{
  margin: 30px 30px;
}
.category-section >h2{
  font-size: 25px;
  margin: 10px 0px;
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
}
.category-item-1, .category-item-2, .category-item-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:18px;
  text-align: center;
  padding: 15px 25px;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  font-weight: bold;
flex: 1;  
}
.category-item-1{
  background-color:#FF9C35 ;
  
}
.category-item-2{
  background-color: #FF136F;
}
.category-item-3{
  background-color:#3F07F8 ;
}
.category-image{
  width: 50px;
}
.category-item-3 >img{
  width: 100px;
}
/* shoes-section */
.shoes-section , .backpack-section{
  margin: 40px 35px;
}
.shoe-title , .backpack-title{
  margin-top: 45px;
  margin-bottom:15px ;
}
.shoes-container ,.backpack-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.shoe-image >img{
  width: 200px;
}
.shoe-card1 , .shoe-card2 , .shoe-card3{
  border: 2px solid #929292;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
}
.shoe-text >h2{
  font-size: 30px;
}
.shoe-description , .backpack-description{
  color: gray;
  margin: 5px 0px;
}
#shoe-btn >.buy-now{
 margin: 10px auto;
}
.buy-now{
  background-color: black;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 18px;
  margin: 5px 0px;
}
/* backpack-section */

.backpack-image >img{
  width: 200px;
}
.backpack-card1 , .backpack-card2 , .backpack-card3{
  border: 2px solid #929292;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
}
.backpack-text >h2{
  font-size: 30px;
}

#backpack-btn >.buy-now{
 margin: 10px auto;
}

	/* footer-section */
footer{
    margin: 120px 35px 60px 35px;
}
.footer-section{
  background-color: #FEEAE9;
  padding: 80px;
  text-align: center;
}
.footer-container >p{
  color: gray;
  margin: 15px 0px;
}
#email-field{
  display: flex;
  gap: 0px;
   justify-content: center;
}
#email-field >input{
  width: 350px;
  height: 39px;
  font-size: 20px;
  padding-left: 5px;
  border-radius: 10px 0px 0px 10px;
}
#send-btn{
  background-image: linear-gradient( 180deg, #FF589B ,#FF136F);
  font-size: 20px;
  padding: 5px 12px;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border-color:#FF136F ;
}



/* reponsive */


@media only screen and (min-width:320px )  and (max-width:640px){
  /*nav-section*/
  nav{
  margin:0px 15px;
  }

#logo{
  height: 32px;
}
#menu{
  height: 32px;
}
  /*hero-section*/
.hero-section{
 flex-direction: column-reverse;
padding: 30px 35px;
margin:20px 15px;
}
.hero-text >h1{
  font-size: 45px;
}
/* start category-container */
.category-section{
  margin: 30px 15px;
}
/* shoes-section */
.shoes-section ,.backpack-section{
  margin: 20px 15px;
}
.shoes-container ,.backpack-container{
  grid-template-columns: repeat(1, 1fr);
}
/* footer-section */

.footer-section{
  padding: 30px;
}
#email-field{
  flex-direction: column;
  gap: 10px;
}
#email-field >input{
  border-radius: 5px;
  width: 100%;
}

#send-btn{
  width: 100%;
  border-radius: 5px;
}



}

/* responsive for tablet device */
@media only screen and (min-width:641px) and (max-width:992px){
  /*nav-section*/
#logo{
  height: 36px;
}
#menu{
  height: 36px;
}
  
/*hero-section*/
.hero-section{
  margin: 25px 35px;
}
  
/*hero-section*/
.hero-text >h1{
  font-size: 50px;
}
/* shoes-section */
.shoes-section , .backpack-section{
  margin: 30px 35px;
}

.shoes-container , .backpack-container{
  grid-template-columns: repeat(3, 1fr);
}
.shoe-text >h2{
  font-size: 20px;
}
.shoe-image >img{
  width: 170px;
}
/* backpack-section */
.backpack-text >h2{
  font-size: 20px;
}
.backpack-image >img{
  width: 170px;
}


}

/* responsive for laptop device */
@media only screen and (min-width:993px) and (max-width:1200px){

.hero-text >h1{
  font-size: 56px;

}
}